.footer-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 .5rem;
  background-color: #fff;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
    width: 48px;
    height: 48px;
    padding: 0;

    .mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
    }
  }
}
