@font-face {
  font-family: 'MacPawFixelDisplay';
  src: url('MacPawFixelDisplay-Bold.woff2') format('woff2'),
       url('MacPawFixelDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MacPawFixelDisplay';
  src: url('MacPawFixelDisplay-Light.woff2') format('woff2'),
       url('MacPawFixelDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MacPawFixelDisplay';
  src: url('MacPawFixelDisplay-Medium.woff2') format('woff2'),
       url('MacPawFixelDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MacPawFixelDisplay';
  src: url('MacPawFixelDisplay-Regular.woff2') format('woff2'),
       url('MacPawFixelDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MacPawFixelDisplay';
  src: url('MacPawFixelDisplay-SemiBold.woff2') format('woff2'),
       url('MacPawFixelDisplay-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
