:host {
  flex: 1;
}

.my-info {
  max-width: 640px;
  margin: 2rem auto 0;
  padding: 2rem;

  &__title {
    font-weight: 500;
  }

  &__form {
    &-item {
      &:not(.my-info__form-item_radio) {
        margin: 0;
      }

      label {
        margin-right: 1rem;
      }

      mat-radio-button {
        margin-right: .5rem;
      }
    }
  }
}
