<mat-toolbar color="primary" class="header">
  <span>My bike</span>

  <div *ngIf="auth.user$ | async as user"
       [matMenuTriggerFor]="userMenu"
       class="header__user">
    <button
      mat-icon-button
      class="user-icon"
      aria-label="User">
      <mat-icon>person</mat-icon>
    </button>
    {{user.displayName}}
  </div>
</mat-toolbar>

<mat-menu #userMenu="matMenu" xPosition="before">
  <a [routerLink]="['/main/my-info']" mat-menu-item>Мої дані</a>
  <button mat-menu-item (click)="signOut()">Вийти</button>
</mat-menu>
