@import "src/assets/fonts/font";

html, body {
  height: 100%;
}

body {
  margin: 0;

  *:not(.material-icons) {
    font-family: 'MacPawFixelDisplay' !important;
  }
}

* {
  box-sizing: border-box;
}
